.container-footer-padre {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: purple; }

.box1 {
  display: flex;
  width: 10%;
  height: 40px;
  background-color: white; }
